body{
    margin: 0;
    padding: 0;
}
header {
  background-color: #f0f0f0;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
#menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}
#logo {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1em;
}
#blog-name h1 {
  margin: 0;
  font-size: 2em;
  color: #333;
}
#navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  margin: 0;
  background-color: #fff;
  border-top: 1px solid #ccc;

}
.link{
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1em;
}
.link a{
    text-decoration: unset;
    color: black;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}
#content {
    display: flex;
    margin: 20px;
    font-size: 1.2em;
    line-height: 1.6;
    color: #444;
}
footer {
  margin-top:auto;
  bottom: 0;
  color: white;
  text-align: center;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  color: white;
  height: 65px;
}
