body{
  overflow-x: hidden;
  position: absolute;
  margin: 0px;
  padding: 0px;
}
header {
  position: sticky;
  background-color: black;
  border-bottom: 1px solid #ccc;
  top: 0;
  z-index: 100;
}
#menu-icon {
  height: 75px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#logo {
  width: 50%;
  color: #fff;
  width: 100px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1em;
  align-self: left;
}
#logo img {
  width: 100px;
}
#blog-name h1 {
  width: 100%;
  margin: 0;
  font-size: 2em;
  color: #333;
}
#navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  margin: 0;
  background-color: #fff;
  border-top: 1px solid #ccc;

}
.link{
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1em;
}
.link a{
  text-decoration: unset;
  color: black;
}
main {
  padding: 20px;
  position: relative;
  justify-content: space-around;
  align-items: flex-start;
}
#website-url-link {
  justify-content: center;
  position: absolute;
  font-size: 1.2em;
  margin-bottom: 20px;
  align-content: center;
}
.url-link {
  margin-bottom: 40px;
}
#content {
  margin: 20px;
  font-size: 1.2em;
  line-height: 1.6;
  color: #444;
}
.content-ref {
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
}

footer {
  margin-top:auto;
  bottom: 0;
  color: white;
  text-align: center;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  color: white;
  height: 65px;
}